<nav class="navbar navbar bg-light sticky-top">
    <div class="container-fluid px-lg-4">
        <a class="navbar-brand text-primary fw-bold" href="#">Cimena do Guil</a>
        <div class="d-flex">
            <input class="rounded-1" type="search" [(ngModel)]="valorInput" placeholder="Pesquisar Filmes...">
            <button class="btn btn-primary mx-2" type="submit" [routerLink]="['/view/home', valorInput]">Pesquisar</button>
            <a routerLink="view/favorito-filme" class="nav-link mx-2 my-2">Meus Favoritos</a>
            <a routerLink="view/home/popular" class="nav-link mx-2 my-2">Populares</a>
            <a routerLink="view/home/top_rated" class="nav-link mx-2 my-2">Destaques</a>
        </div>
    </div>
</nav>